<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PJDownloadFromWeb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0449B9201DB388FB0072F619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0449B9391DB388FC0072F619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0449B9441DB388FC0072F619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
